{% extends "blog/base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}
    {% trans "Password Changed" %}
{% endblock head_title %}

{% block content %}
<div class="auth-container">
    <h1 class="auth-title">{% trans "Password Changed" %}</h1>

    <p class="auth-text">
        {% trans "Your password has been successfully changed." %}
    </p>

    <a href="{% url 'account_login' %}" class="btn auth-btn-secondary">
        {% trans "Return to Login" %}
    </a>
</div>
{% endblock content %}
