{% load blog_tags %}
{% load static %}
{% load i18n %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}

      {% endblock %}
    </title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet" />

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <!-- Favicon -->
    <link rel="icon" href="{% static 'favicon/icons8-blog-flat-gradient-16.png' %}" type="image/png" />
    <link rel="icon" href="{% static 'favicon/icons8-blog-flat-gradient-32.png' %}" type="image/png" />
    <link rel="icon" href="{% static 'favicon/icons8-blog-flat-gradient-96.png' %}" type="image/png" />

    <!-- Stylesheet -->
    <link href="{% static 'css/blog.css' %}" rel="stylesheet" />
    <script src="{% static 'js/script.js' %}" defer></script>
  </head>

  <body>
    <div class="wrapper">
      <!-- Main Content -->
      <div id="content">
        {% block content %}

        {% endblock %}
      </div>

      <!-- Sidebar -->
      <div id="sidebar">
        <div class="centered-content">
          <!-- Navigation -->
          <nav>
            <ul>
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <span class="nav-link">Welcome Back, {{ user.username }}</span>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page" href="{% url 'account_signup' %}">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
                </li>
              {% endif %}
            </ul>
          </nav>

          <a href="{% url 'blog:post_list' %}" title="Go To Home" class="home-icon"><i class="fa-solid fa-home"></i></a>

          <h2>What's New?</h2>
          <p>
            The Soul Blog was created for users to free their thoughts.{% total_posts %} post have been made so far.
          </p>
          <h3>Latest Posts</h3>
          {% show_latest_posts 4 %}
          <h3>Trending Posts</h3>
          {% get_most_commented_posts as most_commented_posts %}
          <ul>
            {% for post in most_commented_posts %}
              <li>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
          <div class="create-post-link">
            <a href="{% url 'blog:post_create' %}" title="Create a New Post">
              <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
