<h2 class="center-title">Add a new comment</h2>
<form action="{% url 'blog:post_comment' post.id %}" method="post" class="comment-form">
    <div class="form-group">
        {{ form.body.label_tag }}
        {{ form.body }}
    </div>
    {% csrf_token %}
    <p><input type="submit" value="Add comment"></p>
    {% if user == post.author %}
    <a href="{% url 'blog:post_update' post.id %}" class="btn">Edit Post</a>
    <a href="{% url 'blog:post_delete' post.id %}" class="btn btn-danger">Delete Post</a>
  {% endif %}
</form>