{% extends 'blog/base.html' %}
{% block title %}Create New Post{% endblock %}
{% block content %}
<div class="main-content">
    <h2 class="center-title">Create New Post</h2>
    {% if form.errors %}
    <div class="alert alert-danger">
        <strong>Error:</strong>
        <ul>
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <form method="post" class="edit-form" enctype="multipart/form-data">
      {% csrf_token %}
      
      {{ form.media }}
      
      <!-- Form Fields -->
      <div class="form-group">
        {{ form.category }}
      </div>

      <div class="form-group">
        {{ form.title.label_tag }}
        {{ form.title }}
      </div>

      <div class="form-group">
        {{ form.tags.label_tag }}
        {{ form.tags }}
      </div>

            <!-- Featured Image Upload (Only One) -->
      <div class="form-group">
        <label for="id_featured_image">Featured Image:</label>
        {{ form.featured_image }}
      </div>

      <!-- Editor -->
      <div class="form-group">
        {{ form.body.label_tag }}
        {{ form.body }}
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'blog:post_list' %}" class="btn-back">Cancel</a>
    </div>
</form>
</div>
{% endblock %}
