{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block title %}
   Blog Soul
{% endblock %}

{% block content %}
<div class="centered-content">
  <div class="header">
  <h1 class="center-title"> <a href="{% url 'blog:post_list' %}" class="home-button">Blog Soul</h1>
    <a href="{% url 'blog:post_search' %}" class="search-icon">
      <i class="fas fa-search"></i>
    </a>
  </div>
    {% if tag%}
    <h2>Posts tagged with "{{ tag.name }}"</h2>
  {% endif %}
  {% for post in posts %}
    <h2>
      <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
      </a>
    </h2>

    <div class="tags">
    {% for tag in post.tags.all %}
      <a href="{% url "blog:post_list_by_tag" tag.slug %}">
        {{ tag.name }}
      </a>
      {% if not forloop.last %}, {% endif %}
    {% endfor %}
    </div>
    <p class="date">
      Published {{ post.publish }} by {{ post.author }}</p>
      <div class="post-body">
    {{ post.body|markdown|truncatewords_html:30 }}
    </div>
  {% endfor %}
  {% include "pagination.html" with page=posts %}
</div>
{% endblock %}
