{% extends "blog/base.html" %}
{% block title %}Share a post{% endblock %}
{% block content %}
 {% if sent %}
<h1>E-mail successfully sent</h1>
<p>
     "{{ post.title }}" was successfully sent to {{ form.cleaned_data.email }}.
</p>
<p>
  <a href="{{ post.get_absolute_url }}">Back to the post</a>
</p>
 {% else %}
<h1 class="center-title">Share "{{ post.title }}" by e-mail</h1>
<form method="post" class="share-form">
  <div class="form-group">
     {{ form.as_p }}
  </div>
     {% csrf_token %}
<input type="submit" value="Send e-mail">
</form>
 {% endif %}
 <div class="back-button-container-share">
  <a href="javascript:history.back()" class="btn-back-share">Back</a>
</div>
{% endblock %}
