@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lora&display=swap');

body {
    background-color: #222629; 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
    min-height: 100vh;
    flex-direction: column; 
}

.wrapper {
    display: flex;
    flex: 1;
}

a { 
    color:#86c232;
    text-decoration:none; 
}

h1 { 
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-weight:normal;
    color: #eef3f9;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
    letter-spacing: 0.03em;
}

h2 {
    font-family: "Cinzel", serif;
    font-weight:normal;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #61892f;
    letter-spacing: 0.03em;
    margin:30px 0 0;
}

#content { 
    float:left;
    width:60%;
    padding:0 0 0 30px; 
}

#sidebar { 
    float:right;
    width:30%;
    padding:10px;
    background: #474747;;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem; 
    height:100%;
}

.sidebarinner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
}

p.date { 
    color:#474b4f;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
    font-optical-sizing: auto; 
}

.left {
    float:left;
    margin-right:10px;
}

/* pagination */
.pagination {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    margin:40px 0; 
    font-weight:bold;
    color: #61892f;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#eef3f9;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#474b4f;
    border:0;
    padding:6px 10px;
    font-size:12px;
    color: #eef3f9;
}
input[type=submit] {
    font-weight:bold;
    background:#61892f;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
    border-bottom: 1px solid #474b4f;
}

.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}

