@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lora&display=swap');

body {
    background-color: #70554c; 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    color: #FFF2D7; 
}

.header {
    position: relative;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.center-title {
    text-align: center;
    flex: 1;
}

.search-icon {
    font-size: 1.5em;
    color: #d5cfcf;
    text-decoration: none;
    margin-left: auto;
}

#tags {
    display: none;
}

.tags {
    display: none;
}

.wrapper {
    display: flex;
    flex: 1;
}

a { 
    color:#e2dd39;
    text-decoration:none; 
}

h1 { 
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-weight:normal;
    color: #eef3f9;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
    letter-spacing: 0.03em;
}

h2 {
    font-family: "Cinzel", serif;
    font-weight:normal;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #e2dd39;
    letter-spacing: 0.03em;
    margin:30px 0 0;
}

#content { 
    flex: 1;
    padding: 0 30px;
}

#sidebar { 
    width:30%;
    padding:10px;
    background: #474747;;  
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    justify-content: space-evenly;
    color: #eef3f9; 
}

.sidebarinner {
    display: flex;
    flex-direction: column;    
    flex: 1;
    color: #eef3f9;
}

#sidebar h2, #sidebar p, #sidebar h3, #sidebar ul, #sidebar li {
    color: #eef3f9;
}

p.date { 
    color:#d39c24;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
    font-optical-sizing: auto; 
}

.left {
    float:left;
    margin-right:10px;
}

/* pagination */
.pagination {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    margin:40px 0; 
    font-weight:bold;
    color: #d39c24;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#eef3f9;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#474b4f;
    border:0;
    padding:6px 10px;
    font-size:12px;
    color: #eef3f9;
}
input[type=submit] {
    font-weight:bold;
    background:#d39c24;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
    border-bottom: 1px solid #474b4f;
}

.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#d39c24;
}

.comments-section {
    text-align: center;
    margin-top: 20px;
}

.comment-form, .share-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-form .form-group, .share-form .form-group {
    width: 100%;
    max-width: 600px;
    margin-bottom: 15px;
}

.comment-form label, .share-form label {
    display: block;
    margin-bottom: 5px;
    color: #eef3f9;
}

.comment-form input[type="text"],
.comment-form textarea, 
.share-form input[type="text"], 
.share-form textarea  {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #474b4f;
    color: #eef3f9;
}

.comment-form textarea, 
.share-form textarea {
    height: 150px;
    resize: vertical;
}

/* Buttons */
.share-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .share-button:hover {
    background-color: #000;
    color: #fff;
  }

.btn-back {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #e2dd39;
    background-color: #70554c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    left: 0px;
}


.back-button-container {
    position: absolute;
    margin-top: auto;
}

.back-button-container-search, .back-button-container-share {
    position: fixed;
    bottom: 20px;
    left: 20px; 
}

.edit-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.button-group {
    margin-top: auto;
}


.btn-back-search, .btn-back-share {
    display: inline-block;
    padding: 10px 20px;
    background-color: #70554c; 
    color: #e2dd39;
    text-decoration: none;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #e2dd39;
    background-color: #70554c;
    border: 2px solid #d39c24;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-danger {
    background-color: #cc0033; 
    border: 2px solid #a30026;
    color: #fff;
}

.btn-danger:hover {
    background-color: #a30026;
    color: #fff;
}

.btn:hover {
    background-color: #d39c24; /* Highlight on hover */
    color: #70554c;
}

.date {
    font-family: "Lora", serif;
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
}

.post-body {
    font-family: "Lora", serif;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.centered-content {
    text-align: center;
    flex: 1;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.edit-form .form-group {
    margin-bottom: 15px;
}

.edit-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.edit-form .form-group input,
.edit-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.centered-content ul {
    list-style-type: none;
    padding: 0;
}

.edit-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.centered-content ul li {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none; /* Remove bullets */
    padding: 10px; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

nav li {
    margin-right: 10px; /* Add some space between items */
}

.fa-solid {
    display: inline-block;
    font-size: 35px;
    color: #00abff;
    margin-top: 40px;
}
